/* Global settings */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}

/* Openderm container */
.openderm-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

/* Openderm page header */
.openderm-container h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Logout button styling */
.logout-button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem; /* Adds space between logout and the image upload */
}

.logout-button:hover {
  background: white;
  color: #23153c;
}

/* Upload container */
.upload-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #0056b3;
}

.upload-container input[type="file"] {
  display: none; /* Hide the default file input */
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
/* styles/ResnStyle.css */
.login-container,
.openderm-container,
.upload-container {
  position: relative;
  z-index: 1;
}
/* Login container */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent background for emphasis */
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

/* Login heading */
.login-container h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Login button styling */
.login-container button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-container button:hover {
  background: white;
  color: #23153c;
}

/* Shared styles for containers */
.login-container,
.openderm-container,
.upload-container {
  position: relative;
  z-index: 1;
}
